
<div class="row">
    {{#each articles}}
  <div class="col-sm-6 mb-3">
    <div class="card" id="{{id}}">
        <div class="card-header lead" style="min-height: 90px">{{title}}</div>
      <div class="card-body">

        <a href="{{link}}" class="btn btn-primary">Read article</a>
        <a href="#" class="btn btn-primary">Save article</a>
        <a href="#" class="btn btn-primary notes">Article notes</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>