
<div class="row justify-content-center">
    <div id="status-message" class=" text-center col-12"></div>
    {{#each result.docs}}
  <div class="col-sm-6 mb-3">
    <div class="card" id="{{id}}">
        <div class="card-header lead">{{title}}</div>
      <div class="card-body">

        <a href="{{link}}" class="btn btn-primary">Read article</a>
        <a href="#" class="btn btn-primary update-save-status" value="{{isSaved}}">Unsave article <span class="save-status save-article"><i class="fa fa-heart"></i></span></a>
        <a href="#" class="btn btn-primary view-notes">Article notes</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>


    

         
    
 


